<!-- Main Content -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><i class="fa-solid fa-wand-magic-sparkles"></i></h2></span>
            <h4 class="company_title">Suvarna - Logo</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="row">
                            <input type="text" formControlName="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="row">
                            <!-- <span class="fa fa-lock"></span> -->
                            <input type="password" formControlName="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer">
    {{copyrightText}}
</div>
