
mat-card{
   
  
    
}
.full-width{
    width: 100%;
}

.centered-btn{
    width: 60%;
    display: block;
    margin: 0 auto;
}

.centered-card{
    padding-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}
